.product__img-detail {
  width: 100%;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 10px;
}
.product__img-detail .img__product-detail {
  width: 100%;
}

.title_product-detail {
  width: 100%;
  /* height: 100%; */
  padding: 15px;
  border-radius: 2px;
  background-color: var(--white-color);
  position: relative;
}
.title_product-detail .product-detail-name {
  font-size: 2.4rem;
  font-weight: 600;
}
.title_product-detail .product-detail-info {
  display: flex;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
.title_product-detail .product-detail-info .product-detail-Evaluate {
  margin: 0 8px;
}
.title_product-detail .product-detail-info .product-detail:hover {
  color: --outline-color;
}

.title_product-detail .product-detail-price {
  font-size: 2.4rem;
  margin: 10px;
  color: var(--outline-color);
  filter: blur(6);
}
.title_product-detail .product-detail-duration {
  font-size: 2.4rem;
  margin: 10px;
  color: var(--outline-color);
  filter: blur(6);
}

.title_product-detail .product-detail-start-date {
  font-size: 2.4rem;
  margin: 10px;
  color: var(--outline-color);
  filter: blur(6);
}

.title_product-detail .product-detail-location {
  font-size: 2.4rem;
  margin: 10px;
  color: var(--outline-color);
  filter: blur(6);
}


.title_product-detail .product-detail-action {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.title_product-detail .product-detail-action .product-detail-quantities {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 0 5px;
}
.title_product-detail .product-detail-action .product-detail-quantities div {
  border-collapse: collapse;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.title_product-detail .product-detail-action .product-detail-quantities div i {
  cursor: pointer;
}
.title_product-detail .product-detail-action .product-detail-quantities .product-detail-number {
  font-size: 1.6rem;
  line-height: 15px;
  text-align: center;
  max-height: 30px;
  color: var(--outline-color);
  min-width: 35px;
}
.title_product-detail .product-detail-action .product-detail-sold {
  color: var(--outline-color);
}
.title_product-detail .product-detail-action .product-detail-sold span {
  margin-right: 3px;
}
.title_product-detail .product-detail-rate {
  font-size: 1rem;
}
.title_product-detail .product-detail-cate {
  font-size: 1.6rem;
}
.title_product-detail .product-detail-des {
  font-size: 1.4rem;
  color: var(--text-color);
}
.title_product-detail .product-detail-quantity {
  font-size: 1.6rem;
  font-weight: 400;
}
.title_product-detail .product-detail-button {
  position: absolute;
  bottom: 15px;
}
.title_product-detail .btn--cart {
  color: var(--outline-color);
  border: 1px solid var(--outline-color);
  padding: 0 5px;
}
.title_product-detail .btn--cart i {
  margin: 0 5px;
}
.title_product-detail .btn--cart:hover {
  opacity: 0.9;
}

.info__shop {
  margin-top: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: var(--white-color);
  border-radius: 2px;
  position: relative;
}
.info__shop .info__shop-item {
  margin-left: 10px;
  height: 100%;
}
.info__shop .info__shop-img {
  border-radius: 50%;
  min-width: 100px;
  max-height: 100px;
}
.info__shop .info__shop-information {
  height: 100%;
  padding: 10px 0;
}
.info__shop .info__shop-name {
  font-size: 1.8rem;
  font-weight: 600;
}
.info__shop .info__shop-phone {
  color: var(--text-color);
}
.info__shop .info__shop-btn {
  position: absolute;
  bottom: 10px;
}
.info__shop .info__shop-btn__see {
  color: var(--outline-color);
  border: 1px solid var(--outline-color);
  padding: 0 5px;
  background-color: white;
}
.info__shop .info__shop-btn__see i {
  margin: 0 5px;
}
.info__shop .info__shop-btn__chat {
  color: var(--outline-color);
  border: 1px solid var(--outline-color);
  padding: 0 5px;
  color: white;
}
.info__shop .info__shop-btn__chat i {
  display: block;
  margin: 0 5px;
}

.title__home-product {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 2px;
  min-height: 30px;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  color: var(--outline-color);
  padding: 10px;
  position: sticky;
  top: var(--height-header);
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=product_detail.css.map */