#cardItem {
  width: 80%;
  margin-top: 30px;
  height: 430px;
}
#cardItem2 {
    width: 100%;
    height: 430px;
    margin-top: 30px;
}
.cardImg {
    width: 100%;
    height: 100%;
}
#imgstudent {
 height: 320px;
}