.title {
    color: red;
}
#btnAddProject{
    margin-left: 15px;
}
#btnAddProject a {
    text-decoration: none;
    color: black;
}
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}